# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# PyCharm project files
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Python test cache
.pytest_cache/

# Logs and temporary files
*.log
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# private configuration files
config/config_private.yaml

# logs
logs/
