requests~=2.32.4
beautifulsoup4~=4.13.4
pandas~=2.3.1
matplotlib~=3.10.3
PyYAML~=6.0.2
numpy~=2.3.1
cvss~=3.4
tqdm~=4.67.1
python-dateutil~=2.9.0.post0
scikit-learn~=1.7.0
joblib~=1.5.1
xgboost~=3.0.2
lightgbm~=4.6.0
pyarrow~=20.0.0
fastparquet~=2024.11.0